<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="IZOQt7usK_rBipvDCidE3nFoKFA9IQQt5o3sP-31-s4" />
    <meta name="keywords" content="nesd, neural network, system design, New England Systems Day, computer systems, distributed systems, machine learning systems, cloud computing, operating systems, system security, Northeastern University, ACM SIGOPS, Khoury College">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    {% include header.html %}
    <main>
        {{ content }}
    </main>
</body>
</html>
<style>
    table{
      border-left:1px solid #000000;border-top:1px solid #000000;
      width: 100%;
      word-wrap:break-word; word-break:break-all;
    }
    table th{
    text-align:center;
    }
    table th,td{
      border-right:1px solid #000000;border-bottom:1px solid #000000;
    }
  </style>